# Django and REST framework
Django==5.1

djangorestframework==3.14.0
 
# PostgreSQL database adapter

psycopg2-binary==2.9.9
 
# CORS support

django-cors-headers==4.3.1
 
# Azure Storage

azure-storage-blob==12.19.0

django-storages==1.14.2
 
# File handling

Pillow==10.1.0  # If you need image processing
 
# Utility packages

python-dotenv==1.0.0  # For environment variables management
 
whiteNoise==6.0  # For serving static files